/** @format */
@use "./Variables.scss";

.ListPage {
	padding: 1em;
}

.ListPage-header {
	.ListPage-pagination {
		height: Variables.$PageHeaderHeight;
	}
}

.ListPage-footer {
	margin-top: 1em;
}

.ListPage-grid {
	.ListPage-grid-item {
		display: flex;
		justify-content: center;
		align-items: center;

		width: 200px;
		height: 125px;

		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;

		cursor: pointer;
	}
}
