/** @format */

@use "./Variables.scss";
@use "./ListPage.scss";
@use "./MenuBar.scss";
@use "./PostPage.scss";
@use "./TagsCard.scss";
@use "./ImportPage.scss";

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@400;500;700&display=swap");

body {
	font-family: "Palanquin", sans-serif;
	color: white;
	margin: 0;
	background: #121212;
}

h1,
h2,
h3 {
	font-family: "Source Sans 3", sans-serif;
}

.PageHeader {
	display: flex;
	margin-bottom: 1em;
	justify-content: center;
	position: relative;
	height: Variables.$PageHeaderHeight;

	.MuiBreadcrumbs-root {
		position: absolute;
		left: 0;
		line-height: Variables.$PageHeaderHeight;
	}
}

.LoadingOverlay {
	display: flex;
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.35);
	top: 0;
	left: 0;
	justify-content: center;
	align-items: center;

	transition: 0.25s;
}
