/** @format */
@use "./Variables.scss";

.ImagePage {
	padding: 1em;
}

.PostPage-header {
}

.VideoPost {
	max-width: 100%;

	video {
		height: 90vh;
		max-width: 100%;
	}
}

.ImagePost {
	width: 100%;
	height: 90vh;
	background-repeat: no-repeat;
	background-size: contain;
}

.PostPage {
	padding: 0 10px 0 10px;
}

.PostPage-content {
	display: flex;
	position: relative;

	.PostPage-listener {
		width: 100%;
		// dodge the video controls
		height: calc(100% - 35px);
		position: absolute;
		top: 0;
		left: 0;
	}

	.VideoPost,
	.ImagePost,
	.FlashPost {
		display: flex;
	}
}

.PostActions {
	button {
		flex-grow: 1;
	}

	button.PostActionsButton--Active {
		background: Variables.$PrimaryColor;
		color: #ffffff;
	}
}
