/** @format */

@use "./Variables.scss";

$TagsCardHeaderHeight: 40px;

.TagsCard {
	.MuiChip-root {
		margin-right: 4px;
		margin-bottom: 4px;
		padding: 4px 0;
		height: 100%;
	}

	.TagsCard-header {
		position: relative;
		height: $TagsCardHeaderHeight;
		background: #212121;
		border-bottom: 1px solid #424242;
		display: flex;

		.MuiCardHeader-root {
			padding: 0;
			padding-left: 10px;
		}

		.MuiCardActions-root {
			position: absolute;
			top: 0;
			right: 0;
			padding: 0;
			height: $TagsCardHeaderHeight;
			box-sizing: border-box;

			button {
				height: 100%;
				margin: 0;
				border-radius: 0;
				box-shadow: none;
				border: 0;
			}
		}
	}

	.MuiCardContent-root {
		padding: 0 !important;
	}

	.TagsCard-tags {
		padding: 0 10px 10px 10px;
	}

	.MuiInputBase-root {
		border-radius: 0;

		fieldset {
			border: 0;
		}
	}
}
