/** @format */

.TagsCard {
	.MuiChip-root {
		margin-right: 4px;
		margin-bottom: 4px;
		padding: 4px 0;
		height: 100%;
	}
}

.Tags-loading {
	display: flex;
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.35);
	top: 0;
	left: 0;
	justify-content: center;
	align-items: center;

	transition: 0.25s;
}
